@import "_variables.scss";
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a.button {
    &:hover{
        background: #fa5047;

    }
    text-align: center;
    transition: .5s ease;
    border-radius: 7px;
    background: #F56962;
    color: white!important;
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
}

a.button-light{
    &:hover{
         background: #F56962;
         color: white!important;
    }
    transition: .5s ease;
    border-radius: 7px;
    border: 1px solid #F56962;
    color: #F56962!important;
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
}


span.heading{
    font-weight: 500;
    font-size: 1.8rem;
}

header {
    background: white;
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: 0px -8px 12px 0px  #33333D;
    .row {
        .bar-menu{
            display: none;
        }
        align-content: center;
        nav {
            display: flex;
            align-items: center;
            min-height: 50px;
           
            a {
                color: $fontcolor;
                text-decoration: none;
                margin-left: 25px;
            }
        }
        justify-content: space-between;
    }
}
@media only screen and (max-width: 1200px )  {
    header{
        #menu{
            
            li{
                cursor: pointer;
                padding: 10px 0;
                border-bottom: 1px solid gray;
                width: 100%;
                a{
                    color: $fontcolor!important;
                    text-decoration: none;
                    
                }
                width: 100%;
                    font-size: 1.1rem;
                    background: $bgcolor;
                    width: 100%;
                    text-align: center;
            }
            width: 100%;
            list-style: none;
            position: absolute;
            top: 55px;
        }
        .bar-menu{
            
            cursor: pointer;
            font-size: 1.5rem;
            display: inline-block!important;
        }
        nav{
            display: none!important;
        }
    }
}

#adobe{
    color: $fontcolor;

    .about{
        p{
            font-weight: 500;
            font-size: 1.1rem;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        ul{ 
            span{
                font-size: 0.8rem;
        }
            display: flex;
            justify-content: space-between;
            list-style: none;
        }
        width: 57%;
    }
    background: $bgcolorpink;
}
@media only screen and (max-width: 768px )  {
    #adobe{
        .about{
            ul{
                li{
                    display: block!important;
                    margin-bottom: 15px;
                }
                display: block!important;
            }
        }
    }
}

#descrp{
    .card{
        span.detail{
            font-size: 0.8rem;
        }
        hr{
            margin: 0;
        }
        ul{
            li{ 
                img{
                    margin-right: 15px;
                }
                font-size: 0.8rem;
                color: $fontcolor;
                margin-top: 15px;
            }
            list-style: none;
            padding: 0 20px;
        }
        a.button{

            margin-left: 20px;
            width: 100%;
        }
        span.orange{
            font-weight: 500;
            color: #F68C20;
        }
        span.line{
            font-weight: 500;
            font-size: 1.2rem;
            color: gray;
            text-decoration-line: line-through;
        }
        padding: 20px;
        position: absolute;
        top: 15%;
        right: 13%;
        width: 350px;
        height: 840px;
        box-shadow: 0 0 20px 0 grey;
}
    }
    h5{
        font-weight: 700;
    }
    p{
        font-size: .9rem;
        color: $fontcolor;
        line-height: 30px;
    
    }
    .button{
        margin-bottom: 15px;
        cursor: pointer;
        transition: 0.3s ease;
        border-radius: 5px;
        padding: 10px 20px;
        background: $bgcolor;
        margin-right: 25px;
    }
    .button.active{
        background: #F68C20;
        color: white;
    }

    @media only screen and (max-width: 1200px )  {
        #descrp{
            .card{
                display: none;
            }
        }
    }


    #carousel{

        .line{
            .orange{
                height: 100%;
                width: 33.33%;
                background: orange;
            }
            width: 89%;
            background: white;
            height: 3px;
        }
        .left,.right{
            &:hover{
                color: orange;
            }
            transition: 0.3s ease;
            cursor: pointer;
            background: white;
            padding: 10px 20px;
        }
        .carousel-wrapper{
           overflow: hidden;
    
        }
       .carousel{
           position: relative;
           transition: .5s ease;
           left: 5px;
       }
        .col-12{
            .items{
                &:hover{
                    box-shadow: 5px 5px 12px 5px gray;
                    }
                    transition: .3s ease;
                    cursor: pointer;
                span.line{
                    margin-right: 10px;
                    color: #33333D;
                    text-decoration: line-through;
                }
                span.bold{
                    font-weight: bold;
                    color: #F68C20;
                }
                img.first{
                    width: 100%;
                    border-radius: 5px;
                }
                border-radius: 5px;
                text-align: center;
                box-sizing: border-box;
                background: white;
                padding: 15px;
                ul{
                    margin-top: 20px;
                    // padding-right: 15px;
                    li{
                        color: #33333D;
                        font-size: .9rem;
    
                    }
                    width: 100%;
                    display: flex;
                    list-style: none;
                    justify-content: space-around;
                }
            }
        }
       background: $bgcolor;
    }
    @media only screen and (max-width: 1200px )  {
        #carousel{
            .row.arrows{
                display: none;
            }
        }
    }

    #pink-part{
        .pink-part{
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            h4{ 
                margin-right: 50px;
                line-height: 40px;
                width: 400px;
                font-style: italic;
            }
            padding: 50px;
            background: $bgcolorpink;
        }
    }
    @media only screen and (max-width: 547px )  {
        #pink-part{
            img{
                display: none;
            }
        }
    }


    footer{

        p{
            margin: 0;
            color:#91929A ;
        }
        ul#social{
            margin: 0;
            display: flex;
            list-style: none;
            li{
                margin-right: 20px;
                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }
        .line{
            background: #91929A;
            width: 100%;
            height: 1px;
        }
        ul{
            margin-top: 40px;
            list-style: none;
            li{
                margin-bottom: 10px;
                color: #91929A;
            }
        }
        color: white;
        background: $bgcolordark;
    }